<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <style>
           body{
    background-color:cyan;
    }
    
    nav{width:100%;float:left;background-color:orange;}
    nav a{color:#fff;text-decoration:none;}
    label{display:block;}
    input{display:block;}
    textarea{display:block;}
    .error { color: red; }
    </style>           
  </head>
 <body>
    <nav>
    <a href="/">Home</a>
     <a href="/blog">AllPosts</a> |
     <a href="/newpost">New Post</a>
     <a href='/login'>login</a>
     <a href='/logout'>logout</a>
     <a href='/signup'>Create Account</a>
    </nav>
 
    
    {% block content %}
    {% endblock %}

 </body>
</html>